<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-title>
            Favoritos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

    <ion-slides [options]="slideOpts" *ngIf="dataLocalService.noticias.length == 0">
        <ion-slide>
            <ion-label>
                No hay favoritos
            </ion-label>
        </ion-slide>
    </ion-slides>


    <app-noticias [noticias] = "dataLocalService.noticias"
                  [esPaginaFavoritos]="true"
                  *ngIf="dataLocalService.noticias.length > 0">
    </app-noticias>

</ion-content>