ion-segment-button{
    background-color: var(--ion-color-dark) !important;
}
ion-segment-button ion-label{
    color: white !important;
}
.segment-button-checked ion-label{
    color: var(--ion-color-primary) !important;
}